.container {
    margin-left: 100px;
    display: flex;
    
}

.containerheader {
    display: flex;
    margin-top: 50px;
}

.circulo {
    border: 3px solid rgb(233, 158, 214);
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin-top: 50px;
}

.titlebase {
    font-weight: 600;
    font-size: 10px;
    margin-top: 47px;
    margin-bottom: 0;
    margin-left: 15px;
}

.title {
    color: rgb(233, 158, 214);
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    font-size: 50px;
    font-weight: 600;
}

.paragraph {
    color: rgb(233, 158, 214);
    font-size: 20px;
    font-family: Josefin Sans;
    margin-bottom: 50px;
}
.formemail{
    position: relative;
    display: inline-block;
    width: 600px;
}
.email{
    width: 75%;
    padding: 10px 15px;
    border-radius: 30px;
    height: 40px;
    border:  1px solid rgb(240, 168, 168);
}
.flecha{
    border: none;
    background: rgb(230, 84, 181) ;
    color: white;
    position: absolute;
    right: 0;
    padding: 10px 15px;
    top: 10px;
    border-radius: 32px;
    width: 100px;
    height: 60px;
    margin-top: -9px;
    margin-right: 118px;
    cursor: pointer;
}
/*mobile*/
@media (max-width: 390px){
    .container {
        display: none; 
    }
}
